In [81]:
# Necessary Imports

from pymongo import MongoClient
from datetime import datetime
from bson import ObjectId
import warnings
warnings.filterwarnings("ignore")

## Task – 1: Create a Python script to establish connection with MongoDB and set up a sample database.
### Requirements
* Connect to MongoDB (assume default localhost)</br>
* Create a database called "training_db"</br>
* Create a collection called "employees"</br>
* Insert 5 sample employee records with fields: name, email, department, salary, join_date</br>

In [4]:
client = MongoClient("mongodb://localhost:27017/")

In [5]:
db = client["training_db"]
collection = db["employees"]

In [17]:
emp_to_add = (
    {"name":"Advait","email":"advait.patil@shipdelight.com","department":"IT","salary":50000,"join_date":datetime(2025, 9, 8)},
    {"name":"member_1","email":"member_1.patil@shipdelight.com","department":"HR","salary":60000,"join_date":datetime(2024, 5, 22)},
    {"name":"member_2","email":"member_2.patil@shipdelight.com","department":"Sales","salary":45000,"join_date":datetime(2024, 7, 17)},
    {"name":"member_3","email":"member_3.patil@shipdelight.com","department":"IT","salary":40000,"join_date":datetime(2025, 11, 13)},
    {"name":"member_4","email":"member_4.patil@shipdelight.com","department":"IT","salary":70000,"join_date":datetime(2023, 12, 1)}
)

In [18]:
collection.insert_many(emp_to_add)

InsertManyResult([ObjectId('68c3c79107ffff4cc7a9403c'), ObjectId('68c3c79107ffff4cc7a9403d'), ObjectId('68c3c79107ffff4cc7a9403e'), ObjectId('68c3c79107ffff4cc7a9403f'), ObjectId('68c3c79107ffff4cc7a94040')], acknowledged=True)

In [14]:
# collection.delete_many({})

# Task – 2: Implement various search and listing functionalities.
### Requirements
* List All Records: Function to display all employees
* Search by Department: Find employees in specific department
* Search by Salary Range: Find employees within salary range
* Search by Name Pattern: Find employees whose names contain specific substring
* Advanced Search: Combine multiple search criteria
* Sort Results: Sort employees by salary (ascending/descending)
* Limit Results: Implement pagination (limit and skip)

### List All Records

In [20]:
for i in collection.find():
    print(i)

### Search by Department

In [27]:
dep = input("enter department (IT,HR,Sales)")

result = collection.find({"department":dep})
for i in result:
    print(i)

enter department (IT,HR,Sales) Sales

{'_id': ObjectId('68c3c79107ffff4cc7a9403e'), 'name': 'member_2', 'email': 'member_2.patil@shipdelight.com', 'department': 'Sales', 'salary': 45000, 'join_date': datetime.datetime(2024, 7, 17, 0, 0)}

### Search by Salary Range

In [38]:
a,b = input("enter range seprated by comma").split(",")

a = int(a)
b = int(b)

result = collection.find({
    "salary":{
        "$gte":a,
        "$lte":b
    }
})

for i in result:
    print(i)

enter range seprated by comma 40000,50000

{'_id': ObjectId('68c3c79107ffff4cc7a9403c'), 'name': 'Advait', 'email': 'advait.patil@shipdelight.com', 'department': 'IT', 'salary': 50000, 'join_date': datetime.datetime(2025, 9, 8, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403e'), 'name': 'member_2', 'email': 'member_2.patil@shipdelight.com', 'department': 'Sales', 'salary': 45000, 'join_date': datetime.datetime(2024, 7, 17, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403f'), 'name': 'member_3', 'email': 'member_3.patil@shipdelight.com', 'department': 'IT', 'salary': 40000, 'join_date': datetime.datetime(2025, 11, 13, 0, 0)}

### Search by Name Pattern

In [42]:
results = collection.find(
    {"name": {"$regex": "^A"}}
)

print("Employees whose name starts with A:")
for i in results:
    print(i)

Employees whose name starts with A:
{'_id': ObjectId('68c3c79107ffff4cc7a9403c'), 'name': 'Advait', 'email': 'advait.patil@shipdelight.com', 'department': 'IT', 'salary': 50000, 'join_date': datetime.datetime(2025, 9, 8, 0, 0)}

### Advanced Search

In [45]:
query = {
    "$and": [
        {"department": "IT"},
        {"salary": {"$gte": 45000, "$lte": 70000}}
    ]
}

results = collection.find(query)
for emp in results:
    print(emp)

{'_id': ObjectId('68c3c79107ffff4cc7a9403c'), 'name': 'Advait', 'email': 'advait.patil@shipdelight.com', 'department': 'IT', 'salary': 50000, 'join_date': datetime.datetime(2025, 9, 8, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a94040'), 'name': 'member_4', 'email': 'member_4.patil@shipdelight.com', 'department': 'IT', 'salary': 70000, 'join_date': datetime.datetime(2023, 12, 1, 0, 0)}

### Sort Results

In [49]:
result = collection.find({}).sort("salary",1)
for i in result:
    print(i)

{'_id': ObjectId('68c3c79107ffff4cc7a9403f'), 'name': 'member_3', 'email': 'member_3.patil@shipdelight.com', 'department': 'IT', 'salary': 40000, 'join_date': datetime.datetime(2025, 11, 13, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403e'), 'name': 'member_2', 'email': 'member_2.patil@shipdelight.com', 'department': 'Sales', 'salary': 45000, 'join_date': datetime.datetime(2024, 7, 17, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403c'), 'name': 'Advait', 'email': 'advait.patil@shipdelight.com', 'department': 'IT', 'salary': 50000, 'join_date': datetime.datetime(2025, 9, 8, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403d'), 'name': 'member_1', 'email': 'member_1.patil@shipdelight.com', 'department': 'HR', 'salary': 60000, 'join_date': datetime.datetime(2024, 5, 22, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a94040'), 'name': 'member_4', 'email': 'member_4.patil@shipdelight.com', 'department': 'IT', 'salary': 70000, 'join_date': datetime.datetime(2023, 12, 1, 0, 0)}

In [50]:
result = collection.find({}).sort("salary",1)
for i in result:
    print(i)

{'_id': ObjectId('68c3c79107ffff4cc7a9403f'), 'name': 'member_3', 'email': 'member_3.patil@shipdelight.com', 'department': 'IT', 'salary': 40000, 'join_date': datetime.datetime(2025, 11, 13, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403e'), 'name': 'member_2', 'email': 'member_2.patil@shipdelight.com', 'department': 'Sales', 'salary': 45000, 'join_date': datetime.datetime(2024, 7, 17, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403c'), 'name': 'Advait', 'email': 'advait.patil@shipdelight.com', 'department': 'IT', 'salary': 50000, 'join_date': datetime.datetime(2025, 9, 8, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403d'), 'name': 'member_1', 'email': 'member_1.patil@shipdelight.com', 'department': 'HR', 'salary': 60000, 'join_date': datetime.datetime(2024, 5, 22, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a94040'), 'name': 'member_4', 'email': 'member_4.patil@shipdelight.com', 'department': 'IT', 'salary': 70000, 'join_date': datetime.datetime(2023, 12, 1, 0, 0)}

### Limit Results

In [59]:
page = 2
page_size = 3

result = collection.find({}).sort("salary", -1).skip((page - 1) * page_size).limit(page_size)

print(f"Page No. {page} :")

for emp in result:
    print(emp)

Page No. 2 :
{'_id': ObjectId('68c3c79107ffff4cc7a9403e'), 'name': 'member_2', 'email': 'member_2.patil@shipdelight.com', 'department': 'Sales', 'salary': 45000, 'join_date': datetime.datetime(2024, 7, 17, 0, 0)}
{'_id': ObjectId('68c3c79107ffff4cc7a9403f'), 'name': 'member_3', 'email': 'member_3.patil@shipdelight.com', 'department': 'IT', 'salary': 40000, 'join_date': datetime.datetime(2025, 11, 13, 0, 0)}

## Task -3
## Implement functions to add new records with validation.
### Requirements
* Single Insert: Add one employee record
* Bulk Insert: Add multiple employee records
* Input Validation: Validate data before insertion
* Duplicate Prevention: Prevent duplicate email addresses
* Auto-generated Fields: Add created_at timestamp automatically

## Single Insert: Add one employee record

In [78]:
employee = {
    "name": "Member_5",
    "email": "new.member@shipdelight.com",
    "department": "Finance",
    "salary": 55000,
    "join_date": datetime(2025, 9, 12),
    "created_at": datetime.utcnow()
}

C:\Users\Advait Patil\AppData\Local\Temp\ipykernel_22496\3896719168.py:7: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  "created_at": datetime.utcnow()

In [79]:
def add_emp(emp):
    result = collection.insert_one(emp)
    return result

print(add_emp(employee))

InsertOneResult(ObjectId('68c3f97407ffff4cc7a94041'), acknowledged=True)

## Bulk Insert: Add multiple employee records

In [82]:
employees = [
    {
        "name": "Member_6",
        "email": "member6@shipdelight.com",
        "department": "Finance",
        "salary": 55000,
        "join_date": datetime(2025, 9, 12),
        "created_at": datetime.utcnow()
    },
    {
        "name": "Member_7",
        "email": "member7@shipdelight.com",
        "department": "IT",
        "salary": 60000,
        "join_date": datetime(2024, 5, 20),
        "created_at": datetime.utcnow()
    },
    {
        "name": "Member_8",
        "email": "member8@shipdelight.com",
        "department": "Sales",
        "salary": 48000,
        "join_date": datetime(2023, 11, 10),
        "created_at": datetime.utcnow()
    },
    {
        "name": "Member_9",
        "email": "member9@shipdelight.com",
        "department": "HR",
        "salary": 52000,
        "join_date": datetime(2022, 7, 1),
        "created_at": datetime.utcnow()
    },
    {
        "name": "Member_10",
        "email": "member10@shipdelight.com",
        "department": "Marketing",
        "salary": 65000,
        "join_date": datetime(2021, 3, 15),
        "created_at": datetime.utcnow()
    }
]

In [100]:
def add_emp(emp_list):
    for emp in emp_list:
        result = collection.insert_one(emp)
        print("Inserted:", result.inserted_id)

add_emp(employees)

Inserted: 68c3fbfd07ffff4cc7a94042
Inserted: 68c3fbfd07ffff4cc7a94043
Inserted: 68c3fbfd07ffff4cc7a94044
Inserted: 68c3fbfd07ffff4cc7a94045
Inserted: 68c3fbfd07ffff4cc7a94046

In [102]:
def add_emps(emp_list):
    result = collection.insert_many(emp_list)
    return result.inserted_ids

print("Inserted IDs:", add_emps(employees))

Inserted IDs: [ObjectId('68c3fbfd07ffff4cc7a94042'), ObjectId('68c3fbfd07ffff4cc7a94043'), ObjectId('68c3fbfd07ffff4cc7a94044'), ObjectId('68c3fbfd07ffff4cc7a94045'), ObjectId('68c3fbfd07ffff4cc7a94046')]

In [101]:
def del_emp(emp_list):
    for emp in emp_list:
        result = collection.delete_many(emp)

del_emp(employees)

## Input Validation: Validate data before insertion

In [109]:
def validate_employee(emp: dict):
    required = ["name", "email", "department", "salary", "join_date"]

    for field in required:
        if field not in emp:
            raise "PLese Enter all inputs"

    if not isinstance(emp["salary"], int) or emp["salary"] <= 0:
        raise ValueError("Salary must be a positive integer")
        return True

## Duplicate Prevention: Prevent duplicate email addresses

In [107]:
emp1 = {
        "name": "Member_11",
        "email": "member112@shipdelight.com",
        "department": "Marketing",
        "salary": 75000,
        "join_date": datetime(2021, 3, 15),
        "created_at": datetime.utcnow()
    }

def insert_unique_employee(emp: dict):
    if collection.find_one({"email": emp["email"]}):
        print("Email already exist" )
        return None
    result = collection.insert_one(emp)
    return result.inserted_id

print(insert_unique_employee(emp1))

68c4051507ffff4cc7a94048

## Task -4
## Implement various update operations with different scenarios.
### Requirements
* Update Single Field: Update one field of an employee
* Update Multiple Fields: Update several fields at once
* Update by ID: Update employee using ObjectId
* Update by Criteria: Update multiple employees matching criteria
* Conditional Updates: Update only if certain conditions are met
* Add Modification Timestamp: Track when record was last modified

## Update Single Field: Update one field of an employee

In [64]:
from pymongo import ReturnDocument

result = collection.find_one_and_update(
    {"name": "Advait"},
    {"$set": {"salary": 80000}},
    return_document=ReturnDocument.AFTER
)

print(result)

{'_id': ObjectId('68c3c79107ffff4cc7a9403c'), 'name': 'Advait', 'email': 'advait.patil@shipdelight.com', 'department': 'IT', 'salary': 80000, 'join_date': datetime.datetime(2025, 9, 8, 0, 0)}

## Update Multiple Fields: Update several fields at once

In [65]:
result = collection.find_one_and_update(
    {"name": "member_1"},
    {"$set": {"department": "Operations", "salary": 65000}},
    return_document=ReturnDocument.AFTER
)

print(result)

{'_id': ObjectId('68c3c79107ffff4cc7a9403d'), 'name': 'member_1', 'email': 'member_1.patil@shipdelight.com', 'department': 'Operations', 'salary': 65000, 'join_date': datetime.datetime(2024, 5, 22, 0, 0)}

## Update by ID: Update employee using ObjectId

In [66]:
from bson import ObjectId

emp_id = input("Enter ObjectId")

result = collection.find_one_and_update(
    {"_id": ObjectId(emp_id)},
    {"$set": {"salary": 80000}},
    return_document=ReturnDocument.AFTER
)
print(result)

Enter ObjectId 68c3c79107ffff4cc7a9403d

{'_id': ObjectId('68c3c79107ffff4cc7a9403d'), 'name': 'member_1', 'email': 'member_1.patil@shipdelight.com', 'department': 'Operations', 'salary': 80000, 'join_date': datetime.datetime(2024, 5, 22, 0, 0)}

## Update by Criteria: Update multiple employees matching criteria

In [75]:
result = collection.update_many(
    {"department": "IT"},
    {"$inc": {"salary": 5000}}
)

print("Matched Records:", result.matched_count, "Modified Records:", result.modified_count)

Matched Records: 2 Modified Records: 2

## Conditional Updates: Update only if certain conditions are met

In [71]:
result = collection.update_many(
    {"salary": {"$lt": 50000}},
    {"$set": {"department": "Training"}}
)

print(result)

UpdateResult({'n': 2, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

## Add Modification Timestamp: Track when record was last modified

In [73]:
from datetime import datetime

result = collection.update_one(
    {"name": "Advait"},
    {"$set": {"salary": 52000, "last_modified": datetime.utcnow()}}
)

print("Matched Records:", result.matched_count, "Modified Records:", result.modified_count)

Matched Records: 1 Modified Records: 1

C:\Users\Advait Patil\AppData\Local\Temp\ipykernel_22496\3948091559.py:5: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  {"$set": {"salary": 52000, "last_modified": datetime.utcnow()}}